parameters:
  level: 5
  paths:
    - index.php
  checkMissingIterableValueType: true
  checkMissingCallableSignature: true
  checkUnionTypes: true

parameters:
    level: max
    paths:
        - index.php

